# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/

# Data & Models (Usar DVC en su lugar)
data/raw/*
data/processed/*
!data/**/*.gitkeep
models/*
!models/**/*.gitkeep

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
docs/MEMORIA_P4.tex
docs/*.pdf
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
